.main{
    background-image: url(../../../public/img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.mainPosition {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.startBtn {
  width: 50%;
  height: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  font-size: 36px;
  font-weight: bold; 
  text-decoration: none;
}

.startBtn:hover{
  background-color:aquamarine;
}

.link{
  text-decoration: none;
  color: #361157;
}